p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
body{
  /*this is a comment lol*/
    margin: 0;
    height: 1500px;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 20px;
    background-color: rgb(248, 248, 248);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.video-link{
    text-decoration: none;
    color: black;
}