p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
body{
    margin: 0;
    height: 3000px;
    padding-top: 80px;
    padding-left: 95px;
}