.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 60px;
    width: 73px;
    background-color: white;
    z-index: 2;
    padding-top: 5px;
    cursor: pointer;
}
.sidebar-link{
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-link:hover{
    background-color: rgb(224, 224, 224);
}
.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-size: 10px;
    margin-top: 8px;
}