
.thumbnail{
  width: 100%;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
}
.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}
.time{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  right: 5px;
  bottom: 10px;
  font-size: 12px;
  padding: 4px 3px 4px 3px;
  font-weight: 500;
  border-radius: 3px;
  
}
.video-stats,
.video-author{
  color: rgb(114, 114, 114);
  font-size: 12px;
  font-weight: 500;
}
.video-author{
  margin-bottom: 6px;
}
.video-grid{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 100px;
}
@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 751px) and (min-width:999px) {
   .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
